* text=auto !eol
/ApiPatchr52.patch -text
/README.txt -text
Redmine.Client/AboutBox.Designer.cs -text
Redmine.Client/AboutBox.cs -text
Redmine.Client/AboutBox.resx -text
Redmine.Client/App.config -text
Redmine.Client/Assignees.cs -text
Redmine.Client/BgWork.cs -text
Redmine.Client/ClientExtensionMethods.cs -text
Redmine.Client/Enumerations.cs -text
Redmine.Client/IssueForm.Designer.cs -text
Redmine.Client/IssueForm.cs -text
Redmine.Client/IssueForm.resx -text
Redmine.Client/IssueFormData.cs -text
Redmine.Client/Languages/Lang.Designer.cs -text
Redmine.Client/Languages/Lang.nl.resx -text
Redmine.Client/Languages/Lang.resx -text
Redmine.Client/Languages/LangTools.cs -text
Redmine.Client/MainFormData.cs -text
Redmine.Client/Program.cs -text
Redmine.Client/Properties/AssemblyInfo.cs -text
Redmine.Client/Properties/Resources.resx -text
Redmine.Client/Properties/Resources1.Designer.cs -text
Redmine.Client/Properties/Settings.Designer.cs -text
Redmine.Client/Properties/Settings.settings -text
Redmine.Client/Redmine.Client.csproj -text
Redmine.Client/RedmineClientForm.Designer.cs -text
Redmine.Client/RedmineClientForm.cs -text
Redmine.Client/RedmineClientForm.resx -text
Redmine.Client/Settings.cs -text
Redmine.Client/SettingsForm.Designer.cs -text
Redmine.Client/SettingsForm.cs -text
Redmine.Client/SettingsForm.resx -text
Redmine.Client/Utility.cs -text
Redmine.Client/aboutclock.png -text
Redmine.Client/clock.ico -text
/RedmineClient.sln -text
Setup/Product.wxs -text
Setup/Setup.wixproj -text
