* text=auto !eol
Installer/Bundle.wxs -text
Installer/Installer.wixproj -text
/README.txt -text
Redmine.Client/AboutBox.Designer.cs -text
Redmine.Client/AboutBox.cs -text
Redmine.Client/AboutBox.resx -text
Redmine.Client/Assignees.cs -text
Redmine.Client/BgWork.cs -text
Redmine.Client/ClientExtensionMethods.cs -text
Redmine.Client/CommitForm.Designer.cs -text
Redmine.Client/CommitForm.cs -text
Redmine.Client/CommitForm.resx -text
Redmine.Client/Enumerations.cs -text
Redmine.Client/IssueForm.Designer.cs -text
Redmine.Client/IssueForm.cs -text
Redmine.Client/IssueForm.resx -text
Redmine.Client/IssueFormData.cs -text
Redmine.Client/Languages/Lang.Designer.cs -text
Redmine.Client/Languages/Lang.nl.resx -text
Redmine.Client/Languages/Lang.resx -text
Redmine.Client/Languages/LangTools.cs -text
Redmine.Client/MainFormData.cs -text
Redmine.Client/Program.cs -text
Redmine.Client/Properties/App.config -text
Redmine.Client/Properties/AssemblyInfo.cs -text
Redmine.Client/Properties/Resources.resx -text
Redmine.Client/Properties/Resources1.Designer.cs -text
Redmine.Client/Properties/Settings.Designer.cs -text
Redmine.Client/Properties/Settings.cs -text
Redmine.Client/Properties/Settings.settings -text
Redmine.Client/Redmine.Client.csproj -text
Redmine.Client/RedmineClientForm.Designer.cs -text
Redmine.Client/RedmineClientForm.cs -text
Redmine.Client/RedmineClientForm.resx -text
Redmine.Client/SettingsForm.Designer.cs -text
Redmine.Client/SettingsForm.cs -text
Redmine.Client/SettingsForm.resx -text
Redmine.Client/Utility.cs -text
Redmine.Client/res/aboutclock.png -text
Redmine.Client/res/clock-installer.png -text
Redmine.Client/res/clock-transparant.png -text
Redmine.Client/res/clock.ico -text
Redmine.Client/res/clock.png -text
/RedmineClient.sln -text
Setup/Banner.bmp -text
Setup/Dialog.bmp -text
Setup/License.RedmineClient.rtf -text svneol=unset#unset
Setup/Product.wxs -text
Setup/Setup.wixproj -text
