* text=auto !eol
Installer/Bundle.wxs -text
Installer/Installer.wixproj -text
Redmine.Client/AboutBox.Designer.cs -text
Redmine.Client/AboutBox.cs -text
Redmine.Client/AboutBox.resx -text
Redmine.Client/AttachmentForm.Designer.cs -text
Redmine.Client/AttachmentForm.cs -text
Redmine.Client/AttachmentForm.resx -text
Redmine.Client/BgWork.cs -text
Redmine.Client/BgWorker.cs -text
Redmine.Client/ClientExtensionMethods.cs -text
Redmine.Client/CommitForm.Designer.cs -text
Redmine.Client/CommitForm.cs -text
Redmine.Client/CommitForm.resx -text
Redmine.Client/EditEnumForm.Designer.cs -text
Redmine.Client/EditEnumForm.cs -text
Redmine.Client/EditEnumForm.resx -text
Redmine.Client/EditEnumListForm.Designer.cs -text
Redmine.Client/EditEnumListForm.cs -text
Redmine.Client/EditEnumListForm.resx -text
Redmine.Client/Enumerations.cs -text
Redmine.Client/IssueForm.Designer.cs -text
Redmine.Client/IssueForm.cs -text
Redmine.Client/IssueForm.resx -text
Redmine.Client/IssueFormData.cs -text
Redmine.Client/IssueGridSelectColumns.Designer.cs -text
Redmine.Client/IssueGridSelectColumns.cs -text
Redmine.Client/IssueGridSelectColumns.resx -text
Redmine.Client/Languages/Lang.Designer.cs -text
Redmine.Client/Languages/Lang.cs-CZ.resx -text
Redmine.Client/Languages/Lang.de.resx -text
Redmine.Client/Languages/Lang.fr.resx -text
Redmine.Client/Languages/Lang.gl.resx -text
Redmine.Client/Languages/Lang.nl.resx -text
Redmine.Client/Languages/Lang.pt-BR.resx -text
Redmine.Client/Languages/Lang.resx -text
Redmine.Client/Languages/LangTools.cs -text
Redmine.Client/MainFormData.cs -text
Redmine.Client/Program.cs -text
Redmine.Client/ProjectMember.cs -text
Redmine.Client/Properties/AssemblyInfo.cs -text
Redmine.Client/Properties/Resources.resx -text
Redmine.Client/Properties/Resources1.Designer.cs -text
Redmine.Client/Properties/Settings.Designer.cs -text
Redmine.Client/Properties/Settings.cs -text
Redmine.Client/Properties/Settings.settings -text
Redmine.Client/Properties/app.config -text
Redmine.Client/Redmine.Client.csproj -text
Redmine.Client/RedmineClientForm.Designer.cs -text
Redmine.Client/RedmineClientForm.cs -text
Redmine.Client/RedmineClientForm.resx -text
Redmine.Client/SettingsForm.Designer.cs -text
Redmine.Client/SettingsForm.cs -text
Redmine.Client/SettingsForm.resx -text
Redmine.Client/TimeEntriesForm.Designer.cs -text
Redmine.Client/TimeEntriesForm.cs -text
Redmine.Client/TimeEntriesForm.resx -text
Redmine.Client/TimeEntryForm.Designer.cs -text
Redmine.Client/TimeEntryForm.cs -text
Redmine.Client/TimeEntryForm.resx -text
Redmine.Client/UpdateIssueNoteForm.Designer.cs -text
Redmine.Client/UpdateIssueNoteForm.cs -text
Redmine.Client/UpdateIssueNoteForm.resx -text
Redmine.Client/Utility.cs -text
Redmine.Client/app.config -text
Redmine.Client/res/aboutclock.png -text
Redmine.Client/res/clock-installer.png -text
Redmine.Client/res/clock-transparant.png -text
Redmine.Client/res/clock.ico -text
Redmine.Client/res/clock.png -text
/RedmineClient.sln -text
Setup/Banner.bmp -text
Setup/Dialog.bmp -text
Setup/License.RedmineClient.rtf -text svneol=unset#unset
Setup/Product.wxs -text
Setup/Setup.wixproj -text
